* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.header {
  background-color: gray;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.middle {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  width: 100vw;
  height: 80vh;
  flex-grow: 1;
}

.middle div {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.footer {
  background-color: blanchedalmond;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav {
  flex: 1;
}

.content {
  flex: 2;
}

.ads {
  flex: 1;
}
