* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  gap: 20px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    75deg,
    hsl(0, 80%, 70%),
    hsl(220, 100%, 70%)
  );
}
.box {
  background-color: hsl(0, 0%, 90%, 0.25);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.cat,
.dog,
.fish {
  width: 230px;
}

h3 {
  text-shadow: 2px 2px 4px hsl(0, 0%, 0%, 0.25);
  font-family: "Roboto", sans-serif;
  padding: 20px;
  color: white;
}
p,
h1 {
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 500;
}
hr {
  border: none;
  background-color: hsl(0, 0%, 0%, 0.25);
  height: 1px;
}
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: yellow;
  border-radius: 5px;
  border-style: none;
}
.button-cat {
  padding: 10px 60px;
}
.button-dog {
  padding: 10px 50px;
}
.button-fish {
  padding: 10px 85px;
}
